<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Maintenance page</title>
	</head>
	<body>
		<h1>{{pageTitle}}</h1>
		<p>Page under maintenance</p>
		<p>will be updated soon.</p>
		{{> footer}}
		<!-- <footer> -->
		<!--	<p> Copyright {{currentYear}}</p> -->
		<!-- </footer> --> 
	</body>
</html>